/* Navbar CSS */

.nav a {
    color: var(--text-color); 
    text-decoration: none;
    padding: 0 15px;
}


.hover-nav:hover {
    background-color: var(--primary-color); 
    color: #FFFFFF; /* White */
}
