:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  /* Colours */
  --background-color: #E9F1FA; 
  --text-color: #1C3156;
  --primary-color: #00ABE4;
}


/* Body - BEGIN */
body {
  background-color: var(--background-color);
  color: var(--text-color);;
  font-family: Arial, sans-serif;
}
/* Body - END */


/* Headings - BEGIN */
h2 {
  color: white;
  background-color: var(--primary-color);
}


h3, p {
  padding: 10px;
}

h5 {
  font-weight: bolder;
}

/* Headings - END */




/* Header   */
.hero {
  text-align: center;
}

/* Container */
.container-fluid {
  padding: 5px;
  margin: 5px;
}


/* Contact Form - BEGIN */

/* Contact form fields length */
.short-input {
  width: 550px; 
}

.contactform {
  padding: 20px;
}

.contact-info {
  margin-bottom: 10px; /* Adjust as needed */
}

/* Contact Form - END */



/* Product Details - BEGIN */
.product-detail-image {
  padding: 10px;
  width: 400px; 
  height: auto; 
}
/* Product Details - END */



/* Buttons - BEGIN */
.button {
  background-color: var(--primary-color);
}

.button:hover {
  background-color: var(--text-color);
}
/* Buttons - END */



/* Projects - BEGIN */
.card-title {
  color: var(--primary-color);
}


.more-space {
  padding: 45px;
}
/* Projects - END */



/* Footer - BEGIN */
.foot {
  text-align: center;
}
/* Footer - END */



