:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  /* Background Colors */
  --background-color: #E9F1FA; 

  /* Text Colors */
  --text-color: #1C3156;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);;
  font-family: Arial, sans-serif;
}


h2 {
  color: white;
  background-color: #00ABE4;
}




h3, p {
  padding: 10px;
}

h5 {
  font-weight: bolder;
}




.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 30px;
  margin-bottom: 100px;
} */

.more-space {
  padding: 45px;
}



.read-the-docs {
  color: #888;
}


.foot {
  text-align: center;
}



/* Header   */
.hero {
  text-align: center;
}

/* Container */
.container-fluid {
  padding: 5px;
  margin: 5px;
}



.short-input {
  width: 550px; /* Adjust the width as needed */
}

.contactform {
  padding: 20px;
}

.contact-info {
  margin-bottom: 10px; /* Adjust as needed */
}


.product-detail-image {
  padding: 10px;
  width: 400px; /* Set the width */
  height: auto; /* Maintain aspect ratio */
}


.bold {
  font-weight: bold;
}


.button {
  background-color: #00ABE4;
}

.button:hover {
  background-color: #1C3156;
}



.card-title {
  color: #00ABE4;
}